doctype html
html
	head
		link(rel='stylesheet', type='text/css', href='./style.css')
	body
		
		.container
		fieldset.fieldsetlogin
			form.login-form(action='/register', method='post')
				h4 Register here...
				input.fname-login(type='text', name='firstName', placeholder='Enter firstname', required='')
				input.lname-login(type='text', name='lastName', placeholder='Enter lastname', required='')
				input.email(type='email', name='eMail', placeholder='name@email.com', required='')
				input.submit-login(type='submit', name='submit', value='SIGN-UP')

		if userDetails
			p= userDetails
		else
			p= error