doctype html
html
	head
		link(rel='stylesheet', type='text/css', href='./style.css')

	body
		
		.container
			fieldset.fieldset-search
				form.search-form(action='/searchName', method='post')
					h4 Search here
					input.name-search(type='text', name='name', placeholder='Enter firstname or lastname', required='')
					input.submit-search(type='submit', name='submit', value='Search')

		if usersJson
			p= usersJson
		else
			p= error