html {
    background: url('./bckgroundimage.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

p {
    color: white;
    text-align: center;
    font-size: 15px;
}

.message {
    padding: 204px 68px 2px 2px;
    font-size: 32px;
}

img {
    width: 50%;
    background-color: transparent;
}
.logo:hover{
    background-color: transparent;
}

ul li {

    list-style: none;
    padding: 11px 13px;
}

ul li:hover {
    list-style: none;
    color: darkblue;
    background-color: skyblue;
}

a:hover {
    color: blue;
}

h2 {
    text-align: center;
    color: white;
}

h3 {
    color: whitesmoke;
    text-align: center;
    font-style: italic;
    font-size: 40px;
    padding: 2px 2px 2px 2px;
    margin: 45px 311px 68px 2px;
}

h4 {
    text-align: center;
    font-size: 25px;
    color: white;
}

.aboutapp {
    margin: 55px 103px 71px 148px;
    padding: 240px 2px 2px 2px;
    text-align: center;
}

.para-about {
    text-align: center;
    font-size: 31px;
    margin: 78px 2px 2px 2px;
}

.displayusers {
    margin: 75px 136px 2px 2px;
    padding: 2px 2px 2px 2px;
    text-align: center;
}

.navigation {
    background-color: white;
}

a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    overflow: hidden;
    padding: 27px 31px;
    margin: 17px 2px;
}

.nav li {
    list-style: none;
    color: white;
    float: left;
    text-decoration: none;
    list-style-type: none;
    display: inline;
}


.container {
    margin: 0px 46px 1px 1px;
    padding: 5px 17px 2px 2px;
}

.search {

    padding: 12px 167px;
    margin: 9px 0px;
}

.submit {
    padding: 13px 32px;
    border: none;
    float: right;
    margin: 10px 207px 2px 2px;
}

.submit:hover {
    color: white;
    background-color: lightblue;
}

.form {
    padding: 172px 75px;
    margin: 46px 17px 26px 181px;
}

.content {
    text-align: center;
    margin: 0px 0px;
    color: white;
    font-size: 20px;
    padding: 0px 32px 26px 2px;
}

.username {
    text-align: center;
    margin: -9px 301px 2px 2px;
    padding: 11px 13px 24px 9px;
}


/*.username:hover{
    background-color: grey;
    color: black;
}*/


/*sign up page*/

.fieldset-search {

    margin: 35px 130px;
    padding: 37px 124px;
    border: none;
}

.search-form {
    margin: 34px 98px;
    padding: 29px 16px;
}

.name-search {
    margin: 14px 2px;
    padding: 21px 168px;
}


.submit-search {
    padding: 23px 48px;
    text-align: center;
    margin: 14px 38px 39px 181px;
}

.submit-search:hover {
    background-color: #4d94ff;
}

.fieldsetlogin {
    padding: 35px 249px;
    border: none;
}

.login-form {
    padding: 12px 43px;
}

.fname-login {
    margin: 19px 44px;
    padding: 19px 159px;
}

.lname-login {
    margin: 19px 44px;
    padding: 19px 161px;
}

.email {
    margin: 19px 44px;
    padding: 19px 161px;
}

.submit-login {
    margin: 26px 13px 19px 205px;
    padding: 12px 36px 26px 29px;
    color: darkblue;
}

.submit-login:hover {
    background-color: #4d94ff;
}