h4 {
	font-size: 30px;
	text-align: center;
}
h2{
	text-align: center;
}
h3{
	color: darkblue;
	text-align: center;
	font-style: italic;
	font-size: 40px;
	

}
p{
	text-align: center;
	font-size: 25px;
	font-style: bold;
}
body{
	background-image: url('./blue image.jpg');
}

.container {
	
	font-size: 30px;
	border: none;
	
}
.fieldset-search{

margin: 35px 130px;
padding: 37px 124px;
border: none;
}
.search-form{
	margin: 34px 98px;
    padding: 29px 16px;

}
.name-search{
	margin: 14px 2px;
    padding: 21px 168px;
}


.submit-search{
	padding: 23px 48px;
    text-align: center;
    margin: 14px 38px 39px 181px;
        	
}
.submit-search:hover{
	background-color: #4d94ff;

}
.fieldsetlogin{
	    padding: 35px 249px;
	    border: none;

}
.login-form{
	padding: 12px 43px;

}
.fname-login{
	margin: 19px 44px;
    padding: 19px 159px;

}
.lname-login{
	margin: 19px 44px;
    padding: 19px 161px;

}
.email{
	margin: 19px 44px;
    padding: 19px 161px;

}
.submit-login{
	margin: 26px 13px 19px 205px;
    padding: 12px 36px 26px 29px;
    color: darkblue;

}
.submit-login:hover{
	background-color: #4d94ff;

}