doctype html
html
  head
    link(rel='stylesheet', type='text/css', href='style.css')
  body
    .navigation
      ul.nav
        li
          img(src='userlogo.png')
        li
          a(href="index.pug") Home
        li
          a(href="search.pug") Search User
        li
          a(href="signup.pug") Sign Up
        li
          a(href="users.pug") All Users
    .displayusers
      h3 All users in my database
        each name in userData
          h2= name.firstname

    